*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
#main{
    width: 100%;
    overflow: hidden;
    background-color: #fffefe;
}
#part1{
    width: 100%;
    min-height: 100vh;
}

.img{
    padding-left: 3vw;
    display:flex;
    align-items: center;
    gap: 20vw;
 width: 100%;
}
 .img .img1{
    width: 40%;
    height: 120vh;
}

.img .img1 .photo{
    width: 100%;
    height: 85%;
}
 .img .img1 .photo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#part4 .img .img1 .text{
    padding-top: 1vw;
    width: 100%;
    height: 15%;
}
#part4 .img .img1 .text h5{
    font-family: gilroy;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 1.2vw;
    font-weight: 600;
    margin-top: 2px;
}
#part4 .img .img1 .text h3{
    font-family: gilroy;
    font-size: 1.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

#part4 .img .img2{
    width: 30%;
    height: 70vh;
    background-color: red;
}

.img .img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.light{
    color: #000;
    background-color: #fff;
}

.dark{
    color: #fff;
    background-color: #000;
}